* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header button {
    padding: .5rem 1.5rem;
}

.squares-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75vh;
    height: 75vh;
    outline: 2px solid black;
}

.square {
    outline: 1px solid black;
    height: 25%;
    width: 25%;
    /* Height and width of squares need to be set as a proportion of square root of total squares */
}